<div class="flex flex-col bg-[#F9FAFF] h-full">
    <app-global-header />
    <app-header [title]="title" [subtitle]="currentProgram.description" [definitions]="false" [channel]="currentProgram.channel" [trackedOutcome]="currentProgram.trackedOutcome" [dataAsOf]="currentProgram.dataAsOf" [startDate]="currentProgram.startDate" [endDate]="currentProgram.endDate" [engagementRate]="currentProgram.engagementRate" [memberList]="currentProgram.memberList" [engaged]="currentProgram.engaged" [unableToReach]="currentProgram.unableToReach" [optedOut]="currentProgram.optedOut" [didNotEngage]="currentProgram.didNotEngage"  />

</div>
