<div class="p-8 bg-white flex justify-start items-center">
    <div class="flex flex-col">
        <h1 [style]="{ color: cascade.cascadeBrand.greyDarkest, fontSize: cascade.cascadeBrand.fontSizeLarger + 'px' }" *ngIf="title">{{title}}</h1>
        <p [style]="{ color: cascade.cascadeBrand.greyDark, fontSize: `18px` }" *ngIf="subtitle">{{subtitle}}</p>
    </div>
    <div *ngIf="channel" className="flex flex-row">
        <div>Channel:</div> 
        <span [style]="{ color: cascade.cascadeBrand.greyDarkest }" >{{channel}}</span>
    </div>
    <div class="flex-1"></div>
    <div *ngIf="definitions">
        <p-button styleClass="p-button-outlined p-button-secondary">
            <img src="https://res.cloudinary.com/dbrkk86kt/image/upload/v1756223198/mpulse/program-manager-prototype/local_library_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24_1_wcoyoy.png" class="w-[16px] h-[16px]" />
            <span [style]="{ color: cascade.cascadeBrand.greyDarkest }">Definitions</span>
        </p-button>
    </div>
</div>
