<div class="flex flex-col items-center justify-start bg-[#F9FAFF] w-full">
  <div class="w-full"><app-global-header /></div>
  <div class="w-full">
    <app-header
      title="Programs"
      subtitle="View, Analyze and Measure your Member Outreach Programs"
    />
  </div>
  <div class="w-full flex justify-center items-center bg-white">
    <div class="flex flex-1 justify-end items-center max-w-[1280px] p-2 gap-4">
      <div class="flex items-center justify-center">
        <button class="cursor-pointer" (click)="opDate.toggle()" (ngModel)="(date)"><img
          src="https://res.cloudinary.com/dbrkk86kt/image/upload/v1758229728/mpulse/program-manager-prototype/calendar_aymdmc.png"
          width="16"
          height="16"
        /></button>
        <p-calendar #opDate
          [inputStyle]="{
            border: 'none',
            shadow: 'none',
            cursor: 'pointer',
            textAlign: 'left',
            width: '205px',
            dropShadow: 'none',
            padding: '0',
            paddingRight: '8px',
            paddingLeft: '8px',
            outline: 'none',
            boxShadow: 'none',
          }"
          [autofocus]="false"
          [defaultDate]="todayDate"
          placeholder="Sorted programs by recent"
          (ngModel)="(date)"
          selectionMode="range"
          [readonlyInput]="true"
        ></p-calendar>
      </div>

      <button
        class="cursor-pointer flex gap-2 items-center justify-center"
        (click)="op.toggle($event)"
      >
        <img
          src="https://res.cloudinary.com/dbrkk86kt/image/upload/v1758229723/mpulse/program-manager-prototype/filter1_mnfcft.png"
          width="16"
          height="16"
        />
        Launch Date
      </button>
      <p-popover #op>
        <div class="w-[200px]">
          <p-listbox
            [options]="cities"
            (click)="op.toggle($event)"
            (ngModel)="(selectedCity)"
            optionLabel="name"
            class="w-full md:w-56"
          />
        </div>
      </p-popover>

      <button
        class="cursor-pointer flex gap-2 items-center justify-center"
        (click)="opPrograms.toggle($event)"
      >
        <img
          src="https://res.cloudinary.com/dbrkk86kt/image/upload/v1758229728/mpulse/program-manager-prototype/Vector_tpzztt.png"
          width="16"
          height="16"
        />
        All Programs
      </button>
      <p-popover #opPrograms>
        <div class="w-[200px]">
          <p-listbox
            [options]="cities"
            (click)="opPrograms.toggle($event)"
            (ngModel)="(selectedCity)"
            optionLabel="name"
          />
        </div>
      </p-popover>
    </div>
  </div>
  <div class="grid grid-cols-3 gap-4 py-6 max-w-[1280px] h-full">
    <app-card
      *ngFor="let program of programData"
      [status]="program.status"
      [title]="program.title"
      [startDate]="program.startDate"
      [endDate]="program.endDate"
      [engagementRate]="program.engagementRate"
      [engagementRateTitle]="program.engagementRateTitle"
      [engagementRateSubtitle]="program.engagementRateSubtitle"
      [memberList]="program.memberList"
      [engaged]="program.engaged"
      [unableToReach]="program.unableToReach"
      [optedOut]="program.optedOut"
    />
  </div>
</div>
