<div
  class="flex flex-col items-center justify-start bg-[#F9FAFF] h-full w-full overflow-y-scroll"
>
  <div class="w-full"><app-global-header /></div>
  <div class="w-full">
    <app-header
      title="Programs"
      subtitle="View, Analyze and Measure your Member Outreach Programs"
      [definitions]="true"
    />
  </div>
  <div class="grid grid-cols-3 gap-4 py-6 max-w-[1280px] h-full">
    <app-card
      *ngFor="let program of programData"
      [status]="program.status"
      [title]="program.title"
      [startDate]="program.startDate"
      [endDate]="program.endDate"
      [engagementRate]="program.engagementRate"
      [engagementRateTitle]="program.engagementRateTitle"
      [engagementRateSubtitle]="program.engagementRateSubtitle"
      [memberList]="program.memberList"
      [engaged]="program.engaged"
      [unableToReach]="program.unableToReach"
      [optedOut]="program.optedOut"
    />
  </div>

</div>
