<div
  class="w-full flex justify-start items-center px-8 border-b border-gray-200 bg-white"
>
  <div class="pr-4 py-2 h-full border-r border-gray-200">
    <img
      src="https://res.cloudinary.com/dbrkk86kt/image/upload/v1756218825/mpulse/program-manager-prototype/dp-logo_wvevtr.png"
      width="39"
      height="39"
    />
  </div>
  <img
    class="ml-2"
    src="https://res.cloudinary.com/dbrkk86kt/image/upload/v1756219914/mpulse/program-manager-prototype/Screenshot_2025-08-26_at_7.51.36_AM_hwzyxl.png"
    width="611"
    height="32"
  />
</div>
