<p-table [scrollable]="true" [paginator]="true"
    [rows]="5" [value]="tableData" styleClass="p-datatable-striped" [tableStyle]="{ 'width': '100%' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Member ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Primary Language</th>
            <th>Line of Business</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-member >
        <tr>
            <td>{{ member.member_id ?? '-' }}</td>
            <td class="text-">{{ member.first_name ?? '-' }}</td>
            <td>{{ member?.last_name ?? '-' }}</td>
            <td>{{ member?.age ?? '-' }}</td>
            <td>{{ member?.gender ?? '-' }}</td>
            <td>{{ member?.language ?? '-' }}</td>
            <td>{{ member?.line_of_business ?? '-' }}</td>
        </tr>
    </ng-template>
</p-table>